# NAME - AKSHAT SHRIVASTAVA
# ROLL = 2305991
# AD-LAB-6
# CSE-35
# PANDAS FILE

# 1. Student Marks Analysis
# Read the student marks from the student_marks_10.csv file and perform the following:
# a) Calculate Total Marks and Average Marks for each student
# b) Add a column Result (Pass if Average ≥ 50, otherwise Fail)

In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'student.csv')

df['TOTAL MARKS']= df['Maths']+ df['Science']+df['English']
df['AVG MARKS']= (df['Maths']+ df['Science']+df['English'])/3
def result(x):
    return 'PASS' if x>=50 else 'FAIL'
df['RESULT']=df['AVG MARKS'].apply(result)


print(df)

    Name  Maths  Science  English  TOTAL MARKS  AVG MARKS RESULT
0   Amit     78       85       70          233  77.666667   PASS
1   Rina     45       40       50          135  45.000000   FAIL
2  Suman     60       55       65          180  60.000000   PASS
3  Kiran     30       35       25           90  30.000000   FAIL
4  Rahul     88       90       85          263  87.666667   PASS
5  Pooja     92       88       90          270  90.000000   PASS
6   Aman     55       58       60          173  57.666667   PASS
7  Sneha     67       70       72          209  69.666667   PASS
8  Rohit     40       42       45          127  42.333333   FAIL
9   Neha     73       75       78          226  75.333333   PASS

# 2. Employee Salary Increment
# Read employee details from the employee_salary_10.csv file and:
# a) Increase salary by 10% if experience ≥ 5 years
# b) Increase salary by 5% otherwise
# c) Add a column New_Salary

In [9]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'emp.csv')


df.loc[df['Experience']>=5 , 'NEW SALARY' ]= df["Salary"]*1.1
df.loc[df['Experience']<5 , 'NEW SALARY' ]= df["Salary"]*1.05
print(df)

   EmpID    Name  Experience  Salary  NEW SALARY
0    101    Ravi           6   50000     55000.0
1    102   Anita           3   40000     42000.0
2    103  Suresh           8   60000     66000.0
3    104   Meena           2   35000     36750.0
4    105   Kunal           5   45000     49500.0
5    106   Priya           1   32000     33600.0
6    107    Ajay          10   70000     77000.0
7    108  Sunita           4   38000     39900.0
8    109   Manoj           7   58000     63800.0
9    110  Kavita           3   42000     44100.0

# 3. Sales Data GroupBy Analysis

# Read sales data from the sales_data_10.csv file and:

# a) Calculate total sales per product

# b) Calculate average sales per product
#
#

In [8]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'sales_data_10 - sales_data_10.csv')
print("total sales")
print(df.groupby('Product')["Sales"].sum())
print("avgsale")
print(df.groupby('Product')["Sales"].mean())

total sales
Product
Eraser    170
Marker    380
Pen       350
Pencil    480
Name: Sales, dtype: int64
avgsale
Product
Eraser     85.000000
Marker    190.000000
Pen       116.666667
Pencil    160.000000
Name: Sales, dtype: float64

# 4. Handling Missing Values

# Read student marks from the missing_marks_10.csv file and:
# a) Identify missing values
# b) Replace missing values with the mean of the Marks column

In [7]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"missing_marks_10 - missing_marks_10.csv")
print("missing" )
print(df[df["Marks"].isna()])
print("filled wih mean")
print(df.fillna({"Marks":df["Marks"].mean()}))

missing
    Name  Marks
1  Pooja    NaN
3  Sneha    NaN
6  Vikas    NaN
9   Isha    NaN
filled wih mean
     Name      Marks
0   Rahul  85.000000
1   Pooja  80.333333
2    Aman  78.000000
3   Sneha  80.333333
4   Rohit  90.000000
5    Neha  88.000000
6   Vikas  80.333333
7  Anjali  72.000000
8   Karan  69.000000
9    Isha  80.333333

# 5. Attendance Shortage Analysis
# Read attendance details from the attendance_10.csv file and:
# a) Display students having attendance < 75%
# b) Count the total number of such students
#
#

In [11]:
import pandas as pd
import numpy as np
df=pd.read_csv(r'attendance_10 - attendance_10.csv')
print(df[df['Attendance']<75])
print( "TOTAL STUDENTS WITH LESS ATTENDANCE : ",df[df['Attendance']<75].shape[0])

    Name  Attendance
1   Rina          68
3  Kiran          70
6   Aman          60
8  Rohit          72
TOTAL STUDENTS WITH LESS ATTENDANCE :  4